.modal__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(191, 191, 191, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.modal__button {
  background-color: aliceblue;
  border: 1px solid #ddd;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
  cursor: pointer;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding: 2rem 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
