* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-buttons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bfbfbf;
  border-radius: 20px;
  padding: 0.6rem 0.5rem;
  color: white;
  gap: 0.6rem;
  width: fit-content;
  opacity: 0.9;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.page-buttons-group span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}

.page-buttons-group span.active-btn {
  background-color: white;
}

.page-buttons-group span:hover {
  background-color: #eee;
}

.btn-large {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  border: 1px solid #e5e5e5;
}
.btn-large:hover {
  background-color: black;
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #bfbfbf;
  opacity: 0.8;
}

.prevBtn {
  left: 0.6rem;
}
.nextBtn {
  right: 0.6rem;
}

.carousel-container {
  background-color: black;
  overflow: hidden;
  position: relative;
}
.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}
