.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.form button {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
}

.form button:hover {
  background-color: #eef;
}
