.time__container{
  font-size: 4rem;
  font-family: monospace;
  padding: 2rem 1rem;
  background-color: black;
  width: fit-content;
  border-radius: .6rem;
  color: white;
  border: 1rem solid #bfbfbf;
  margin-left: auto;
  margin-right: auto;
}