* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 60px 1fr 100px;
  width: 100%;
  min-height: 100vh;
}

header {
  background-color: orange;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}
.content nav {
  background-color: green;
}

.content main {
  background-color: aqua;
}

.content aside {
  background-color: azure;
}

.content > * {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
